aside {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

a {
  transition: background-color 0.2s ease-in-out;
}

a.router-link-active {
  color: #2563eb;
  font-weight: bold;
}
