<div id="autoCarousel" class="flex justify-center items-center w-full py-6 bg-white">
  <div class="relative w-full max-w-4xl mx-auto">
    <!-- Carrusel -->
    <div
      class="overflow-hidden relative rounded-lg shadow-lg border border-gray-300 bg-white"
    >
      <div
        id="carouselContent"
        class="flex transition-transform ease-in-out duration-500"
        [ngStyle]="{'transform': 'translateX(' + autoCarouselSlide * -100 + '%)'}"
      >
        <!-- Imagen 1 -->
        <div class="w-full flex-shrink-0">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB5L9Q0nbikdWPE4Ltaqpxmv8uQwCoHInUWg&s"
            alt="Slide 1"
            class="w-full h-56 md:h-64 object-cover rounded-lg"
          />
        </div>
        <!-- Imagen 2 -->
        <div class="w-full flex-shrink-0">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS99LDBH70qkQuLt4t5sAzFCBXu6rnR1lh7kg&s"
            alt="Slide 2"
            class="w-full h-56 md:h-64 object-cover rounded-lg"
          />
        </div>
        <!-- Imagen 3 -->
        <div class="w-full flex-shrink-0">
          <img
            src="https://c4.wallpaperflare.com/wallpaper/909/594/386/tom-clancy-s-the-division-2-video-game-art-game-poster-pc-gaming-hd-wallpaper-preview.jpg"
            alt="Slide 3"
            class="w-full h-56 md:h-64 object-cover rounded-lg"
          />
        </div>
      </div>
    </div>
  </div>
</div>



<div class="relative bg-gray-100 py-8">
  <!-- Carrusel -->
  <div
    id="movieCarousel"
    class="flex overflow-x-scroll scrollbar-hide space-x-4 px-6"
  >
    <div
      *ngFor="let movie of movies"
      class="flex-shrink-0 group relative w-64"
    >
      <!-- Imagen con Hover -->
      <div class="relative">
        <img
          [src]="movie.imageLink"
          [alt]="movie.name"
          class="rounded-lg object-cover h-96 w-full"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-end p-4"
        >
          <h3 class="text-lg font-bold text-white">{{ movie.name }}</h3>
          <p class="text-sm text-gray-300 mt-2 truncate">{{ movie.description }}</p>
          <p class="mt-1 text-xs text-gray-400">Director: {{ movie.director }}</p>
          <p class="mt-1 text-xs text-gray-400">Duración: {{ movie.duration }}</p>
        </div>
      </div>
      <!-- Botón -->
      <div class="text-center mt-4">
        <button
          class="bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-700"
          (click)="selectedMovie = movie; confirmSelection()"
        >
          Comprar Tickets
        </button>
      </div>
    </div>
  </div>

  <!-- Botones de navegación -->
  <div class="absolute inset-y-0 left-0 flex items-center">
    <button
      class="p-2 bg-gray-800 bg-opacity-50 text-white rounded-full hover:bg-gray-900 focus:outline-none"
      (click)="goToPreviousSlide()"
    >
      ❮
    </button>
  </div>
  <div class="absolute inset-y-0 right-0 flex items-center">
    <button
      class="p-2 bg-gray-800 bg-opacity-50 text-white rounded-full hover:bg-gray-900 focus:outline-none"
      (click)="goToNextSlide()"
    >
      ❯
    </button>
  </div>
</div>





