<!-- component -->
<section class="p-4">
  <div class="relative bg-clip-border bg-white text-gray-700 flex h-40  w-full flex-col items-center justify-center rounded-xl !bg-gray-900 px-8">
    <div class="container mx-auto text-center">
      <h2 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-white mb-4">EXHIBIÉNDOSE</h2>
      <p class="block antialiased font-sans text-xl font-normal leading-relaxed text-white mb-10 opacity-70">Reserva tu lugar en la emoción del cine, donde cada historia cobra vida</p>
    </div>
  </div>
  <div class="px-10 pt-8 pb-16 -mt-16 lg:px-30 xl:px-40">
    <div class="flex gap-4 overflow-x-auto">
      <article class="relative w-40 shadow-xl bg-cover bg-center h-60 rounded-lg transform duration-500 hover:-translate-y-2 cursor-pointer group" style="background-image: url(https://resizing.flixster.com/Va2mNsItGU7k3jcz9ZdexSWoZPY=/206x305/v2/https://resizing.flixster.com/z4hiL8ZBmyZYrgP523AZvdk7uUI=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzRmOWU4ODJhLTNkMzAtNDNhMC04YjhjLWVkMjJjMGI4MjE4Ni5wbmc=);">
        <div class="absolute top-2 left-2 bg-green-600 text-white text-xs font-semibold px-2 py-1 rounded">ACCION</div>
        <div class="absolute bottom-2 left-2 text-white text-sm font-semibold bg-black bg-opacity-70 px-2 py-1 rounded">
          <span>14 | NOV</span>
        </div>
      </article>

      <article class="relative w-40 shadow-xl bg-cover bg-center h-60 rounded-lg transform duration-500 hover:-translate-y-2 cursor-pointer group" style="background-image: url(https://resizing.flixster.com/cFHAPFahVBnaoDXmVMVlK2Pkiw8=/206x305/v2/https://resizing.flixster.com/jR2K79Abw-XbUPWBfdjzMStAHSA=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzFjNzgyYzkwLWZkNGItNDEwZi04MTViLTRmOGRlN2M4NTg2OC5qcGc=);">
        <div class="absolute top-2 left-2 bg-red-600 text-white text-xs font-semibold px-2 py-1 rounded">SUSPENSO</div>
        <div class="absolute bottom-2 left-2 text-white text-sm font-semibold bg-black bg-opacity-70 px-2 py-1 rounded">
          <span>19 | NOV</span>
        </div>
      </article>

      <article class="relative w-40 shadow-xl bg-cover bg-center h-60 rounded-lg transform duration-500 hover:-translate-y-2 cursor-pointer group" style="background-image: url(https://resizing.flixster.com/H_01DJwgqQtq3M9GLavrM9_FL3g=/206x305/v2/https://resizing.flixster.com/c7fcjCvkHP4wiDlEdVRusMXCOws=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzAzOWI1YzkwLTNiODAtNDNmYy05MTA1LTViZjg4ZTgyYTc1MC5qcGc=);">
        <div class="absolute top-2 left-2 bg-lime-600 text-white text-xs font-semibold px-2 py-1 rounded">PARA TODOS</div>
        <div class="absolute bottom-2 left-2 text-white text-sm font-semibold bg-black bg-opacity-70 px-2 py-1 rounded">
          <span>20 | NOV</span>
        </div>
      </article>

      <article class="relative w-40 shadow-xl bg-cover bg-center h-60 rounded-lg transform duration-500 hover:-translate-y-2 cursor-pointer group" style="background-image: url(https://resizing.flixster.com/LtSSgpxnKDwKgwZkqnx6S6M6W3A=/206x305/v2/https://resizing.flixster.com/6NZoF1Xfsbgad_nJG5GFrYa4_yw=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzM3MGMzOGJlLTA4YzItNDM3ZC05ZjNiLTA2ODVjNWE5MDk4MC5qcGc=);">
        <div class="absolute top-2 left-2 bg-blue-600 text-white text-xs font-semibold px-2 py-1 rounded">COMEDIA</div>
        <div class="absolute bottom-2 left-2 text-white text-sm font-semibold bg-black bg-opacity-70 px-2 py-1 rounded">
          <span>20 | NOV</span>
        </div>
      </article>

      <article class="relative w-40 shadow-xl bg-cover bg-center h-60 rounded-lg transform duration-500 hover:-translate-y-2 cursor-pointer group" style="background-image: url(https://resizing.flixster.com/g0rxvArZsZFsV8-gKSFPeNrmB-s=/206x305/v2/https://resizing.flixster.com/JMUezA59v3r50XvD34SELkqBnL0=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzZjYmVjMTllLTViOWYtNDY4NC04YWY5LTdmMGIxMTM1MWEwMS5qcGc=);">
        <div class="absolute top-2 left-2 bg-yellow-600 text-white text-xs font-semibold px-2 py-1 rounded">ACCION</div>
        <div class="absolute bottom-2 left-2 text-white text-sm font-semibold bg-black bg-opacity-70 px-2 py-1 rounded">
          <span>20 | NOV</span>
        </div>
      </article>

      <article class="relative w-40 shadow-xl bg-cover bg-center h-60 rounded-lg transform duration-500 hover:-translate-y-2 cursor-pointer group" style="background-image: url(https://resizing.flixster.com/9me7u9P8Fmf1Q3RFNweGieG3k7Q=/206x305/v2/https://resizing.flixster.com/2EQkVJG-kHyKseV8OGyggPFZwHY=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzL2Q2ODRhMzkxLTBlNjEtNDJlZS1hMjYwLTNjZGI5NmE1OTRiYy5qcGc=);">
        <div class="absolute top-2 left-2 bg-blue-600 text-white text-xs font-semibold px-2 py-1 rounded">COMEDIA</div>
        <div class="absolute bottom-2 left-2 text-white text-sm font-semibold bg-black bg-opacity-70 px-2 py-1 rounded">
          <span>20 | NOV</span>
        </div>
      </article>
    </div>
  </div>
  </section>
