<footer class="bg-gray-900 text-gray-300 py-6 px-16 font-sans tracking-wide">
  <div class="flex justify-between items-center max-lg:flex-col text-center flex-wrap gap-4">
    <p class="text-[15px] leading-loose">© GAMA-2024. Todos los derechos reservados.</p>

    <ul class="flex space-x-6 gap-y-2 max-lg:justify-center flex-wrap">
      <li><a href="javascript:void(0)" class="text-[15px] hover:text-white">Términos de Servicios</a></li>
      <li><a href="javascript:void(0)" class="text-[15px] hover:text-white">Politica de Privacidad</a></li>
      <li><a href="javascript:void(0)" class="text-[15px] hover:text-white">Contáctanos</a></li>
    </ul>
  </div>
</footer>
